.recipe {
  position: relative;

  &__transparent {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -40px;
    position: absolute;
    width: 100%;
    border-radius: 30px;
    padding: 0 20px;
    backdrop-filter: blur(15px);
  }
}
